= semantic_form_for [email.contact, email] do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name, hint: 'e.g Home, Office, etc.'
    = f.input :email, hint: 'e.g. john@doe.com'
  = f.buttons do
    = f.commit_button button_html: { class: 'btn primary' }
