= semantic_form_for contact do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
  = f.buttons do
    = f.commit_button button_html: { class: 'btn primary' }
