.contact-module
  .name= @contact
  %h5 Phone Numbers
  %ul.phone_numbers
    - @contact.phone_numbers.each do |phone_number|
      %li= phone_number
  %ul.emails
    - @contact.emails.each do |email|
      %li= email
  .links
    = link_to "Edit", edit_contact_path(@contact), rel: 'edit-contact', class: 'btn primary'
    = link_to "Add Phone Number", new_contact_phone_number_path(@contact), rel: 'add-phone-number', class: 'btn'
    = link_to "Add Email Address", edit_contact_path(@contact), rel: 'add-email-address', class: 'btn'
